[Default]
llm_api = MiniMaxClient
llm_cheap_api = CheapClaude
embedding_api = BGELargeZhAPI
ranker_api = BaiduBCEReranker
talker = CliTalker
project_id = 
ts_key = 
aws_access_key_id =             #aws的密钥
aws_secret_access_key =         #aws的access_key
AZURE_OPENAI_API_KEY =          #azure的密钥
AZURE_OPENAI_ENDPOINT =         #azure的endpoint
GAODE_MAP_API_KEY =             #高德地图的密钥
OPEN_WEATHER_API_KEY =          #openweather的密钥
ERNIE_API_KEY =                 #文心一言的密钥
ERNIE_SERCRET_KEY =             #文心一言的secret_key
glm_api_key =                   #glm的密钥
deep_seek_api_key =             #deepseek的密钥
moonshot_api_key =              #moonshot的密钥
DASHSCOPE_API_KEY =             #阿里云百炼的密钥
baichuan_api_key =              #百川的密钥
volcengine_api_key =            #火山云的密钥
volcengine_embedding =          #火山云的embedding
volcengine_doubao =             #火山云的doubao接入点
volcengine_doubao_32k =         #火山云的doubao接入点
minimax_api_key =               #minimax的密钥
zero_one_api_key =              #zero one的密钥
OPENAI_API_KEY =                #openai的密钥
hunyuan_SecretId =              #腾讯混元的id
hunyuan_SecretKey =             #腾讯混元的key
xunfei_spark_api_key =          #讯飞的api_key  
xunfei_spark_secret_key =       #讯飞的secret_key
